iframe {
  margin: 0 auto;
  display: inline-block;
  height: 500px;
  width: 700px;
}
.card {
  max-width: 80rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: hidden;
}
